---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
...
